<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</head>
<body>
    
    <div class="container">
        
        <div class="page-header">
          <h1>后台管理界面</h1>
        </div>
        
        <div class="row">
            
            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4>栏目管理</h4>
                        <ul>
                            <li><a href="">栏目列表</a></li>
                            <li><a href="">添加栏目</a></li>
                        </ul>
                    </div>
                </div>
                
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4>文章管理</h4>
                        <ul>
                            <li><a href="">文章列表</a></li>
                            <li><a href="">发布文章</a></li>
                        </ul>
                    </div>
                </div>
                
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4>个人中心</h4>
                        <ul>
                            <li><a href="">修改密码</a></li>
                            <li><a href="">退出登陆</a></li>
                        </ul>
                    </div>
                </div>
                
                
            </div>
            <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                
                <form action="" method="POST" role="form">
                    <legend>文章栏目添加</legend>
                
                    <div class="form-group">
                        <label for="">栏目名称</label>
                        <input type="text" class="form-control" id="" placeholder="填写栏目名称" name="catname">
                    </div>
                
                    
                
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                
            </div>
        </div>
        <div class="well">
            <footer class="text-center">Copyright &copy; 2015 · GeneratePress · WordPress</footer>
        </div>
    </div>
    
</body>
</html>